<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{{ instance.app_name }} Demo Application</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/Res_Amazon-EC2_Instance_48_Dark.png"/>
    <link rel="stylesheet" href="/static/fontawesome-free/css/all.min.css"/>
    <link href="../static/css/styles.css" rel="stylesheet"/>
    <link href="../static/css/animations.css" rel="stylesheet"/>
</head>
<body>
<!-- Navbar-->
{% set nav_bar = [
    ('/', 'index', 'Home'),
    ('/jobs', 'jobs', 'Jobs'),
] -%}
{% set active_page = active_page|default('index') -%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand">{{ instance.app_name }} ({{ instance.env_state }}) Demo Application{% if diagnostic == True %} Diagnostic Page {% endif %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for href, id, caption in nav_bar %}
                <li class="nav-item"><a class="nav-link{% if id == active_page %} active{% endif%}" href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endfor %}
                <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/jobs">Jobs</a></li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="py-4">
    <div class="container px-lg-4">
        <div class="p-2 p-lg-2 bg-light rounded-3 text-center">
            <div class="m-2 m-lg-2">
                <h1 class="display-5 fw-bold">Welcome to {{ instance.app_name }} ({{ instance.env_state }})</h1>
                <p class="fs-4">Demo application written to provide a visual representation of instances and
                    databases</p>
            </div>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
<!-- Footer-->
<div class="row" id="margin-for-footer"><div class="col mb-4"></div></div>
<footer class="py-3 bg-dark fixed-bottom">
    <div class="container"><p class="m-0 small text-center text-white">Built for Awsome Builders by Awesome Builders</p></div>
</footer>
<script src="/static/js/htmx.min.js?v=1.6.0"></script>
</body>
</html>