{% extends "base.html" %}
{% block content %}
<!-- Page Content-->
<section class="pt-1">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <!-- Status Cards -->
        <div class="row gx-lg-5">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body text-center fw-bold">Load Balanced to Instance</div>
                    <p class="text-white text-center">{{ cfg.instance_id }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body text-center fw-bold">Total App Instances</div>
                    <p class="text-white text-center">{{ instances | length }}</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body text-center fw-bold">AutoScaleGroup 1 Min CPU</div>
                    <p class="text-white text-center">{{ cloudwatch_cpu_data | round }}%</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body text-center fw-bold">Database Availability Zone</div>
                    <p class="text-center {% if db_id == 'ERROR' %}text-danger">Database Error{% else %}text-white">
                        {% for db in database %}{% if db_id == db.DBInstanceIdentifier %}{{ db.AvailabilityZone }}{% endif %}{% endfor %}{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<header class="py-1">
    <div class="container px-lg-4">
        <div class="p-md-1 bg-light rounded-3 text-start">
            <div class="m-3">
                <h3 class=" fw-bold">Application Servers</h3>
            </div>
        </div>
    </div>
</header>
<!-- Instance Cards -->
<section class="pt-4">
    <div class="container px-lg-5 pt-4">
        <div class="row">
            {% for instance in instances %}
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card {% if cfg.instance_id == instance.InstanceId %}bg-secondary{% else %}bg-light{% endif %} border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-collection"><img
                                    src="../static/assets/Res_Amazon-EC2_Instance_48_Dark.png" alt="EC2 Instance"></i>
                            </div>
                            <h2 class="fs-4 fw-bold">{{ instance.InstanceId }}</h2>
                            <p class="mb-0 fw-normal text-start">AZ: {{ instance.Placement.AvailabilityZone }}</p>
                            <p class="mb-0 fw-normal text-start {% if instance.State.Name == 'running' %}text-success{% elif instance.State.Name == 'shutting-down' %}text-warning{% else %}{% endif %}">
                                State: {{ instance.State.Name | title }}</p>
                                {% if diagnostic %}
                                <p class="mb-0 fw-normal text-start">Uptime: {{ instance.Uptime }}</p>
                                <p class="mb-0 fw-normal text-start">Instance Type: {{ instance.InstanceType }}</p>
                                    {% for i in instance_health %}
                                        {% if i.InstanceId ==  instance.InstanceId%}
                            <p class="mb-0 fw-normal text-start">Instance Status: {{ i.InstanceStatus.Status }}</p>
                                            {% if i.InstanceStatus.Status != 'ok' %}
                            <p class="mb-0 fw-normal text-start">Instance Impairment Status: {{ i.InstanceStatus.Details[0].Status }}</p>
                                            {% endif %}
                            <p class="mb-0 fw-normal text-start">System Status: {{ i.SystemStatus.Status }}</p>
                                            {% if i.SystemStatus.Status != 'ok' %}
                            <p class="mb-0 fw-normal text-start">System Impairment Status: {{ i.SystemStatus.Details[0].Status }}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for i in asg.Instances %}
                                        {% if i.InstanceId == instance.InstanceId %}
                            <p class="mb-0 fw-normal text-start{% if i.LifecycleState != 'InService' %} text-warning"{% else %}"{% endif %}>ASG Lifecycle Status: {{ i.LifecycleState }}</p>
                            <p class="mb-0 fw-normal text-start{% if i.HealthStatus != 'Healthy' %} text-warning"{% else %}"{% endif %}>ASG Health Status: {{ i.HealthStatus }}</p>
                                        {% endif %}
                                    {% endfor %}
                                    {% for i in target_group.TargetHealthDescriptions %}
                                        {% if i.Target.Id == instance.InstanceId %}
                            <p class="mb-0 fw-normal text-start{% if i.TargetHealth.State != 'healthy' %} text-warning"{% else %}"{% endif %}>TG Health State: {{ i.TargetHealth.State }}</p>
                                            {% if i.TargetHealth.State != 'healthy' %}
                            <p class="mb-0 fw-normal text-start{% if i.TargetHealth != 'healthy' %} text-warning"{% else %}"{% endif %}>TG Health Reason: {{ i.TargetHealth.Reason }}</p>
                            <p class="mb-0 fw-normal text-start{% if i.TargetHealth != 'healthy' %} text-warning"{% else %}"{% endif %}>TG Health Description: {{ i.TargetHealth.Description }}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<header class="py-1">
    <div class="container px-lg-4">
        <div class="p-md-1 bg-light rounded-3 text-start">
            <div class="m-3">
                <h3 class=" fw-bold">Database Servers</h3>
            </div>
        </div>
    </div>
</header>
<section class="pt-4">
    <div class="container px-lg-5 pt-4">
        <div class="row">
            {% for db in database %}
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card {% if db_id == db.DBInstanceIdentifier %}bg-secondary{% else %}bg-light{% endif %} border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-collection"><img
                                    src="../static/assets/Res_Amazon-Aurora-Instance_48_Dark.png"
                                    alt="EC2 Instance"></i></div>
                            <h2 class="fs-4 fw-bold">{{ db.DBInstanceIdentifier }}</h2>
                            <p class="mb-0 fw-normal text-start">AZ: {{ db.AvailabilityZone }}</p>
                            <p class="mb-0 fw-normal text-start {% if db.DBInstanceStatus == 'available' %}text-success{% elif db.DBInstanceStatus == 'shutting-down' %}text-warning{% else %}{% endif %}">
                                State: {{ db.DBInstanceStatus | title }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}