{% extends "base.html" %}
{% set active_page = "jobs" %}
{% block content %}
<section class="pt-1">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-lg-4">
                <div class="p-3 bg-dark rounded-3">
                    <a hx-post="/jobs/add_random">
                        <h3 class="fs-4 fw-bold text-white text-center">Create Random Job&nbsp;&nbsp;<i
                            class="fas fa-plus-circle text-white"></i></h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 bg-dark rounded-3">
                    <a hx-get="/jobs/add" hx-target="#jobform" hx-swap="innerHTML swap:0.2s">
                        <h3 class="fs-4 fw-bold text-white text-center">Create a Custom Job&nbsp;&nbsp;<i class="far fa-edit text-white fade-me-out"></i></h3>
                    </a>
                    {% if created %}
                    <div class="text-center">
                        <div class="btn btn-outline-success mt-3"><i class="far fa-check-circle"></i> Job created</div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-3 bg-dark rounded-3">
                    <a hx-delete="/jobs/delete_all">
                        <h3 class="fs-4 fw-bold text-white text-center">Delete All Jobs&nbsp;&nbsp;<i class="fas fa-eraser text-white"></i></h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row gx-5 fade-me-in" id="jobform"></div>
    </div>
</section>
<div id="list-of-jobs" hx-get="/jobs/show" hx-trigger="load" hx-swap="innerHTML swap:0.5s">
    <img src="/static/assets/bars.svg" width="150px" class="htmx-indicator position-absolute top-50 start-45"/>
</div>
{% endblock %}